<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>课程表</title>

    <!-- Bootstrap core CSS -->
    <link href="__CSS__/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="__FONT__/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="__CSS__/zabuto_calendar.css">
    <link rel="stylesheet" type="text/css" href="__JS__/gritter/css/jquery.gritter.css" />
    <link rel="stylesheet" type="text/css" href="__LINEICONS__/style.css">    
    
    <!-- Custom styles for this template -->
    <link href="__CSS__/style.css" rel="stylesheet">
    <link href="__CSS__/style-responsive.css" rel="stylesheet">

    <script src="__JS__/chart-master/Chart.js"></script>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
    {include file="common/head" /}
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
              	  <p class="centered"><a href="{:url('index/main')}"><img src="__IMG__/ui-sam.jpg" class="img-circle" width="60"></a></p>
              	  <h5 class="centered">{$user_name}</h5>
              	  	
                  <li class="mt">
                      <a class="active" href="{:url('index/main')}">
                          <i class="fa fa-dashboard"></i>
                          <span>课程表预览</span>
                      </a>
                  </li>
                  <li class="">
                      <a class="" href="{:url('exercise/web')}">
                        <i class="fa fa-desktop"></i>
                        <span>添加/删除课程表与课程</span>
                    </a>
                  </li>
                  <li class="sub-menu">
                        <a  href="{:url('index/comment')}">
                        <i class="fa fa-book"></i>
                        <span>讨论区</span>
                    </a>
                </li>
                  <li class="">
                        <a class="" href="{:url('index/search')}">
                          <i class="fa fa-th"></i>
                          <span>查询</span>
                      </a>
                    </li>
                    <li class="">
                            <a  href="{:url('index/team')}">
                            <i class="fa fa-tasks"></i>
                            <span>修改密码</span>
                        </a>
                    </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">

              <div class="row">
                  <div class="col-lg-9 col-md-12 main-chart">
                      <h4>按学期和周数查看课程表：</h4>
                      <form class="form-inline" action="{:url('index/searchcourse')}" method="post">
                            <select class="selectpicker show-tick form-control " name="coursetable">
                                    {volist name="list" id="vo" key="k" empty="<td></td><td></td><td></td><td></td><td></td><td></td><td></td>"}
                                    <option>{$vo.termname}</option>
                                    {/volist}
                            <input type="text" class="input-small form-control" require="true" name="week" placeholder="请输入周数">
                            <button type="submit" class="btn btn-info">查询</button>
                        </form>
                    
                      <div class="row mt">

                        <!--CUSTOM CHART START -->
                        <div class="border-head">
                            <h2>课程表</h2>
                        </div>

                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr class="success">
                                <th></th>
                                <th>节次</th>
                                <th>周一</th>
                                <th>周二</th>
                                <th>周三</th>
                                <th>周四</th>
                                <th>周五</th>
                                <th>周六</th>
                                <th>周日</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>上</td>
                                <td>1</td>
                                {volist name="list1" id="vo" key="k" empty="<td></td><td></td><td></td><td></td><td></td><td></td><td></td>"}
                                <td><font size="4" color="red">{$vo.course}</font><br>教室：<font size="2" color="blue">{$vo.place}</font><br>教师：<font size="2" color="blue">{$vo.teacher}</font></td>
							    {/volist}
                            </tr>
                            <tr>
                                <td></td>
                                <td>2</td>
                                {volist name="list2" id="vo" key="k" empty="<td></td><td></td><td></td><td></td><td></td><td></td><td></td>"}
                                <td><font size="4" color="red">{$vo.course}</font><br>教室：<font size="2" color="blue">{$vo.place}</font><br>教师：<font size="2" color="blue">{$vo.teacher}</font></td>
							    {/volist}
                            </tr>
                            <tr>
                                <td>午</td>
                                <td>3</td>
                                {volist name="list3" id="vo" key="k" empty="<td></td><td></td><td></td><td></td><td></td><td></td><td></td>"}
                                <td><font size="4" color="red">{$vo.course}</font><br>教室：<font size="2" color="blue">{$vo.place}</font><br>教师：<font size="2" color="blue">{$vo.teacher}</font></td>
							    {/volist}
                            </tr>
                            <tr>
                                <td></td>
                                <td>4</td>
                                {volist name="list4" id="vo" key="k" empty="<td></td><td></td><td></td><td></td><td></td><td></td><td></td>"}
                                <td><font size="4" color="red">{$vo.course}</font><br>教室：<font size="2" color="blue">{$vo.place}</font><br>教师：<font size="2" color="blue">{$vo.teacher}</font></td>
							    {/volist}
                            </tr>
                            <tr class="info">
                                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            </tr>
                            <tr>
                                <td>下</td>
                                <td>5</td>
                                {volist name="list5" id="vo" key="k" empty="<td></td><td></td><td></td><td></td><td></td><td></td><td></td>"}
                                <td><font size="4" color="red">{$vo.course}</font><br>教室：<font size="2" color="blue">{$vo.place}</font><br>教师：<font size="2" color="blue">{$vo.teacher}</font></td>
							    {/volist}
                            </tr>
                            <tr>
                                <td></td>
                                <td>6</td>
                                {volist name="list6" id="vo" key="k" empty="<td></td><td></td><td></td><td></td><td></td><td></td><td></td>"}
                                <td><font size="4" color="red">{$vo.course}</font><br>教室：<font size="2" color="blue">{$vo.place}</font><br>教师：<font size="2" color="blue">{$vo.teacher}</font></td>
							    {/volist}
                            </tr>
                            <tr>
                                <td>午</td>
                                <td>7</td>
                                {volist name="list7" id="vo" key="k" empty="<td></td><td></td><td></td><td></td><td></td><td></td><td></td>"}
                                <td><font size="4" color="red">{$vo.course}</font><br>教室：<font size="2" color="blue">{$vo.place}</font><br>教师：<font size="2" color="blue">{$vo.teacher}</font></td>
							    {/volist}
                            </tr>
                            <tr>
                                <td></td>
                                <td>8</td>
                                {volist name="list8" id="vo" key="k" empty="<td></td><td></td><td></td><td></td><td></td><td></td><td></td>"}
                                <td><font size="4" color="red">{$vo.course}</font><br>教室：<font size="2" color="blue">{$vo.place}</font><br>教师：<font size="2" color="blue">{$vo.teacher}</font></td>
							    {/volist}
                            </tr>
                            <tr class="info">
                                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            </tr>
                            <tr>
                                <td>晚</td>
                                <td>9</td>
                                {volist name="list9" id="vo" key="k" empty="<td></td><td></td><td></td><td></td><td></td><td></td><td></td>"}
                                <td><font size="4" color="red">{$vo.course}</font><br>教室：<font size="2" color="blue">{$vo.place}</font><br>教师：<font size="2" color="blue">{$vo.teacher}</font></td>
							    {/volist}
                            </tr>
                            <tr>
                                <td>上</td>
                                <td>10</td>
                                {volist name="list10" id="vo" key="k" empty="<td></td><td></td><td></td><td></td><td></td><td></td><td></td>"}
                                <td><font size="4" color="red">{$vo.course}</font><br>教室：<font size="2" color="blue">{$vo.place}</font><br>教师：<font size="2" color="blue">{$vo.teacher}</font></td>
							    {/volist}
                            </tr>
                            </tbody>
                        </table>


                    </div><!-- /row mt -->
                  </div><!-- /col-lg-9 END SECTION MIDDLE -->
                  
      <!-- **********************************************************************************************************************************************************
      RIGHT SIDEBAR CONTENT
      *********************************************************************************************************************************************************** -->                  
                  
                  <div class="col-lg-3 col-md-12 ds">
                    <!--COMPLETED ACTIONS DONUTS CHART-->
						<h3>通知栏</h3>
                                        
                      <!-- First Action -->
                      <div class="desc">
                            <div class="thumb">
                                <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                            </div>
                            <div class="details">
                                <p><muted>新功能</muted><br/>
                                   <a href="#"></a>新发布了留言功能！吼吼吼！<br/>
                                </p>
                            </div>
                        </div>
                            <div class="desc">
                                    <div class="thumb">
                                        <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                                    </div>
                                    <div class="details">
                                        <p><muted>新功能</muted><br/>
                                           <a href="#"></a>可以修改密码了，输入原密码，就可以修改密码哦！<br/>
                                        </p>
                                    </div>
                            </div>
                       <!-- USERS ONLINE SECTION -->
                        <!-- CALENDAR-->
                        <div id="calendar" class="mb">
                            <div class="panel green-panel no-margin">
                                <div class="panel-body">
                                    <div id="date-popover" class="popover top" style="cursor: pointer;  margin-left: 33%; margin-top: -50px; width: 175px;">
                                        <div class="arrow"></div>
                                        <h3 class="popover-title" ></h3>
                                        <div id="date-popover-content" class="popover-content"></div>
                                    </div>
                                    <div id="my-calendar"></div>
                                </div>
                            </div>
                        </div><!-- / calendar -->
                      
                  </div><!-- /col-lg-3 -->
              </div><!--/row -->
          </section>
      </section>

      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
           
              <a href="main.html" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="__JS__/jquery.js"></script>
    <script src="__JS__/jquery-1.8.3.min.js"></script>
    <script src="__JS__/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="__JS__/jquery.dcjqaccordion.2.7.js"></script>
    <script src="__JS__/jquery.scrollTo.min.js"></script>
    <script src="__JS__/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="__JS__/jquery.sparkline.js"></script>


    <!--common script for all pages-->
    <script src="__JS__/common-scripts.js"></script>
    
    <script type="text/javascript" src="__JS__/gritter/js/jquery.gritter.js"></script>
    <script type="text/javascript" src="__JS__/gritter-conf.js"></script>

    <!--script for this page-->
    <script src="__JS__/sparkline-chart.js"></script>    
    <script src="__JS__/zabuto_calendar.js"></script>	
    <script src="__JS__/chart-master/Chart.js"></script>
    <script src="__JS__/chartjs-conf.js"></script>
	
	<script type="text/javascript">
        $(document).ready(function () {
        var unique_id = $.gritter.add({
            // (string | mandatory) the heading of the notification
            title: '{$user_name},欢迎你来到我的课程表',
            // (string | mandatory) the text inside the notification
            text: ' <a target="_blank" style="color:#ffd777"></a>',
            // (string | optional) the image to display on the left
            image: '__IMG__/ui-sam.jpg',
            // (bool | optional) if you want it to fade out on its own or just sit there
            sticky: true,
            // (int | optional) the time you want it to be alive for before fading out
            time: '',
            // (string | optional) the class name you want to apply to that specific message
            class_name: 'my-sticky-class'
        });

        return false;
        });
	</script>
	
	<script type="application/javascript">
        $(document).ready(function () {
            $("#date-popover").popover({html: true, trigger: "manual"});
            $("#date-popover").hide();
            $("#date-popover").click(function (e) {
                $(this).hide();
            });
        
            $("#my-calendar").zabuto_calendar({
                action: function () {
                    return myDateFunction(this.id, false);
                },
                action_nav: function () {
                    return myNavFunction(this.id);
                },
                ajax: {
                    url: "show_data.php?action=1",
                    modal: true
                },
                legend: [
                    {type: "text", label: "Special event", badge: "00"},
                    {type: "block", label: "Regular event", }
                ]
            });
        });
        
       
        function myNavFunction(id) {
            $("#date-popover").hide();
            var nav = $("#" + id).data("navigation");
            var to = $("#" + id).data("to");
            console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
        }
    </script>
    <script>
        //custom select box
  
        $(function(){
            $('select.styled').customSelect();
        });
  
    </script>

  </body>
</html>
