<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
        
              <p class="centered"><a href="{:url('index/main')}"><img src="__IMG__/ui-sam.jpg" class="img-circle" width="60"></a></p>
              <h5 class="centered">{$user_name}</h5>
                  
            <li class="mt">
                <a class="sub-menu" href="{:url('index/main')}">
                    <i class="fa fa-dashboard"></i>
                    <span>课程表预览</span>
                </a>
            </li>
            <li class="">
                    <a class="active" href="{:url('exercise/web')}">
                      <i class="fa fa-desktop"></i>
                      <span>添加/删除课程表与课程</span>
                  </a>
                </li>
            <li class="sub-menu">
                    <a  href="{:url('index/comment')}">
                    <i class="fa fa-book"></i>
                    <span>讨论区</span>
                </a>
            </li>
            <li class="">
                    <a class="" href="{:url('index/search')}">
                      <i class="fa fa-th"></i>
                      <span>查询</span>
                  </a>
                </li>
            <li class="">
                    <a  href="{:url('index/team')}">
                    <i class="fa fa-tasks"></i>
                    <span>修改密码</span>
                </a>
            </li>

        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>