<header class="header black-bg">
    <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
    </div>
  <!--logo start-->
  <a href="{:url('index')}" class="logo"><b>课程表</b></a>
  <!--logo end-->
  <div class="nav notify-row" id="top_menu">
      <!--  notification start -->
      <!--  notification end -->
  </div>
  <div class="top-menu">
      <ul class="nav pull-right top-menu">
          <li><a class="logout" href="{:url('logout')}">登出</a></li>
      </ul>
  </div>
</header>